body {
  /* Things that will be displayed on every page */
    background-image: url(src/Gradient-Blue-Dark-Bottom.jpg);
    background-attachment: fixed;
    color: #ffe581;
}

/* Header Links Style*/
a {
  color: #ffe581;
  text-decoration: none;
}

/* Header Style */
.header {
  text-align: left;
  left: 85px;
  top: 11px;
  position: absolute;
}

a.padding {
  padding-left: 5px;
  padding-right: 5px;
}

/* Header GitHub Avatar Style*/
.header-picture {
  margin: 15;
  border-radius: 100%;
  width: 50px;
  transition: transform .7s ease-in-out;
}

img:hover {
  transform: rotate3d(0, 1, 0, 360deg);
}

/* Home page setup */
.home {
  text-align: center;
}

/* Home page center picture setup */
.home-picture {
  margin: 15;
  border-radius: 100%;
  width: 200px;
  transition-delay: 250ms;
  transition: transform 1.5s ease-in-out;
}

/* Spin the Home Page image */
img:hover.home-picture {
  transform: rotate(360deg);
}

/* About me page setup */
.about-me {
  margin-bottom: 50px;
  text-align: center;
}

/* About me page title */
.about-me-header {
  text-align: center;
}

.experience {
  text-align: center;
}

/* Adjust all images on Experience page to 50x50 */
#experience-images {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  transition: transform 0.7s ease-in-out;
}

#experience-divider {
  display: flex;
}

#experience-left {
  text-align: left;
  flex: 0 0 50%;
}

#experience-right {
  text-align: left;
  flex: 1;
}

#software-program-images {
  height: 40px;
  width: auto;
  transition: transform 0.7s ease-in;
}

/* Portfolio Page Style */
.portfolio {
  text-align: center;
}

#portfolio-content {
  text-align: left;
}

#portfolio-divider {
  display: flex;
}

#portfolio-left {
  text-align: left;
  flex: 0 0 50%;
}

#portfolio-right {
  text-align: left;
  flex: 1;
}

#portfolio-images {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  transition: transform 0.7s ease-in-out;
}

/* Footer Style*/
.footer {
  text-align: center;
  position: relative;
  width: 99%;
  bottom: 0%;
}

/* Footer Pictures*/
.footer-picture {
  width: 50px;
  transition: transform .7s ease-in-out;
}

/* Sparkle animation */
.screen-sparkles {
  z-index: -1; /* Index of -1 so that the user can click text */
  position: fixed;
  display: block;
  content: "";
  left: 50%;
  bottom: 0;
  margin-left: -40%;
  width: 80%;
  height: 100%;
  background-image: url(src/Sparkles-1.png), url(src/Sparkles-2.png);
  border-radius: 50em;
  animation: sparkles 15s linear infinite;
  -webkit-animation: sparkles 15s linear infinite;
}

@keyframes sparkles {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: -150px -300px, 150px -300px;
  }
}
